---
layout: primary
---

<main>
  <section id="workshops">
    <p class="super-headline">
      Find your entrance level & book a workshop with Aaron
    </p>
    <h2>If you never start, you will never know.</h2>

    <div id="level-grid">
      <div class="level" id="level-1">
        <div class="icon-circle">
          <img src="./images/stretch.svg" alt="Icon showing dancer stretching her leg up to her nose."/>
          <p>3</p>
        </div>

        <div class="level-text">
          <div>
            <h3>As pro as you can get</h3>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit
              consectetur maxime excepturi. Excepturi, cumque eum!
            </p>
          </div>
          <a href="#" class="button">Book Workshop</a>
        </div>

        <div class="quote-container">
          <img src="./images/quote.svg" alt="quote sign" class="quote-icon"/>
          <blockquote>Respect your talent!</blockquote>
        </div>
        <p class="apply">Apply for an audition now!</p>
      </div>
      <div class="level" id="level-2">
        <div class="icon-circle">
          <img src="./images/up.svg" alt="Icon showing dancer stretching her leg up to her nose."/>
          <p>2</p>
        </div>

        <div class="level-text">
          <div>
            <h3>Aspire more</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Asperiores esse voluptas soluta voluptates laborum non dignissimos
              							odit et dolores nemo?
            </p>
          </div>
          <a href="#" class="button">Book Workshop</a>
        </div>

        <div class="quote-container">
          <img src="./images/quote.svg" alt="quote sign" class="quote-icon"/>
          <blockquote>Thank yourself for levelling up now!</blockquote>
        </div>
        <p class="apply">Registration now open for everybody!</p>
      </div>

      <div class="level" id="level-3">
        <div class="icon-circle">
          <img src="./images/rise.svg" alt="Icon showing dancer stretching her leg up to her nose."/>
          <p>1</p>
        </div>

        <div class="level-text">
          <div>
            <h3>Learn the Basics profoundly</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis,
              provident assumenda, rerum iusto impedit cum voluptas enim
              							veritatis blanditiis, qui ea pariatur sit?
            </p>
          </div>
          <a href="#" class="button">Book Workshop</a>
        </div>

        <div class="quote-container">
          <img src="./images/quote.svg" alt="quote sign" class="quote-icon"/>
          <blockquote>Fall in love with dancing!</blockquote>
        </div>
        <p class="apply">Registration now open for everybody!</p>
      </div>
    </div>
  </section>

  <section id="about">
    <img src="images/aaron_2.jpg" alt="Aaron Miller sideprofile"/>
    <div>
      <p class="super-headline">Why I teach</p>
      <h2>Hi, I'm Aaron!</h2>
      <p class="text_about">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat itaque
        incidunt, nihil, recusandae autem aut perferendis reiciendis a neque
        				veniam quibusdam animi ex tempora reprehenderit, aspernatur asperiores
        				consequatur consectetur ipsum!
      </p>
      <p class="text_about">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat itaque
        incidunt, nihil, recusandae autem aut perferendis reiciendis a neque
        				veniam quibusdam animi ex tempora reprehenderit, aspernatur asperiores
        				consequatur consectetur ipsum! Lorem ipsum dolor sit amet consectetur
        				adipisicing elit.
      </p>
      <a>Learn more</a>
    </div>
  </section>
  <section id="news">
    <p class="super-headline">Making waves since 2004</p>
    <h2>In the News</h2>
    <div class="articles">
      {% assign news = collections.news | reverse %}
      {% for n in news limit:3 %}
        <article>
          <h3>
            {{ n.data.title }}
          </h3>
          <img src="{{ n.data.image }}" alt="{{ n.data.alt }}" ">
          <p class="text_news">{{ n.data.excerpt }}</p>
          <a href="{{n.url}}" class="button">Read more</a>
        </article>
      {% endfor %}
    </div>
  </section>
</main>